:root {
 --primary-color: #241f31;
 --secondary-color: white;
 --header-height: 5em;
 --header-flag-length: 25%;
 --header-icon-size: 3em;
 font-family: "Liberation Sans", sans-serif;
 font-size: 15pt;
 color: var(--primary-color);
 background-color: var(--secondary-color);
}

body {
 margin: 0 0 0 0;
 display: grid;
 grid-template-rows: var(--header-height) auto auto;
 grid-template-columns: 1fr var(--header-flag-length) 50%;
 column-gap: 3em;
}

header {
 grid-row: 1 / 3;
 grid-column: 1 / 3;
 display: grid;
 grid-template-rows: var(--header-height) 1fr;
 grid-template-columns: auto 1fr var(--header-flag-length);
 align-content: center;
 height: 100vh;
}

header::before {
 grid-row: 1 / 2;
 grid-column: 2 / -1;
 align-self: center;
 content: "";
 display: block;
 width: 100%;
 height: 5px;
 margin: 0 auto;
 background-color: var(--primary-color);
}

header > h1 {
 grid-row: 1 / 2;
 grid-column: 2 / 3;
 width: 4em;
 height: auto;
 align-self: center;
 margin-top: 0;
 margin-bottom: 0;
 font-size: 20pt;
}

header > a {
 grid-row: 1 / 2;
 grid-column: 1 / 2;
 margin-top: auto;
 margin-bottom: auto;
 padding: 1em;
}

header > a > img {
 width: var(--header-icon-size);
 height: var(--header-icon-size);
}

header > nav {
 grid-row: 1 / 3;
 grid-column: 3 / 4;
 margin-top: 2.5em;
 color: var(--secondary-color);
 background-color: var(--primary-color);
 height: 90%;
 min-height: 25em;
}

header > nav > ul {
 writing-mode: vertical-rl;
 text-orientation: mixed;
 list-style-type: none;
 display: flex;
 align-items: center;
 justify-content: space-around;
 width: 100%;
 height: 100%;
 margin: 0 0 0 0;
 padding: 0 0 0 0;
}

header > nav > ul > li > a {
 color: white;
 text-decoration: none;
 font-weight: bold;
 font-size: 32pt;
}

header > nav > ul > li > a:visited {
 color: white;
}

main {
 display: contents;
}

/* the h2 headers are only for screenreaders */
main > section > h2 {
 position: absolute;
 left: -100000px;
 top: auto;
 width: 1px;
 height: 1px;
 overflow: hidden;
 margin: 0 0 0 0;
 padding: 0 0 0 0;
}

main > section > ul {
 margin-top: 0;
}

#latest_articles {
 grid-row: 2 / 3;
 grid-column: 1 / 2;
 width: 175%;
}

#latest_articles > ul {
 margin-left: 2em;
 padding-left: 0;
 list-style-type: none;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 min-height: calc(98vh - var(--header-height));
}

#latest_articles > ul > li > h3 {
 margin-top: .25em;
 margin-bottom: .25em;
}

#latest_articles > ul > li > p {
 margin-top: .25em;
 margin-bottom: .25em;
}

#latest_articles > ul > li > time {
 font-size: 12pt;
 font-weight: bold;
 float: right;
 margin-bottom: .25em;
}

#latest_posts {
 grid-row: 1 / 3;
 grid-column: 3 / 4;
 background-color: var(--primary-color);
 color: var(--secondary-color);
 padding-left: 2em;
 padding-right: 2em;
 height: auto;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 gap: 1em;
}
#latest_posts::before {
 content: "";
 display: block;
 width: 100%;
 height: 5px;
 margin: 0 auto;
 background-color: var(--secondary-color);
 margin-top: 2.5em;
}

#latest_posts::after {
 content: "";
 display: block;
 width: 100%;
 height: 5px;
 margin: 0 auto;
 background-color: var(--secondary-color);
 margin-bottom: 2.5em;
}

#latest_posts > ul {
 padding-left: 0;
 list-style-type: none;
 display: grid;
 grid-template-rows: auto 1fr;
 grid-template-columns: 1fr 1fr;
 --gap-length: 2em;
 grid-gap: var(--gap-length);
 padding-left: 1em;
 padding-right: 1em;
}

#latest_posts > ul > li {
 display: grid;
 grid-template-columns: 1fr 3em;
 grid-auto-rows: auto;
}

#latest_posts > ul > li > h3 {
 margin-top: 0;
 margin-bottom: 0;
}

#latest_posts > ul > li > a {
 grid-row: 1 / 3;
 grid-column: 2 / 3;
 writing-mode: vertical-rl;
 text-orientation: mixed;
 align-self: end;
 justify-self: center;
 color: white;
}

#latest_posts > ul > li > a:visited, #latest_posts > ul > li > a:link {
 color: white;
}

footer {
 grid-row: 4 / 5;
 grid-column: 1 / -1;
 color: var(--secondary-color);
 background-color: #333333;
 height: 100%;
 width: 100%;
}

@media (max-width: 105em) {
 :root {
  --header-flag-length: 20%;
 }
 body {
  grid-template-columns: 1fr var(--header-flag-length) 40%;
 }
 #latest_articles > ul {
  width: 65%;
 }
 #latest_posts > ul {
  grid-template-columns: 1fr;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-right: 0;
  padding-left: 0;
 }
 #latest_posts::before {
  margin-top: 2.5em;
 }
 #latest_posts::after {
  margin-bottom: 2.5em;
 }
}

@media (max-width: 59em) {
 :root {
  --header-flag-length: 20%;
 }

 body {
  display: flex;
  flex-direction: column;
 }

 header {
  height: auto;
  grid-template-columns: 5em auto 8em;
  margin-right: 1em;
 }

 header > nav {
  min-height: initial;
  grid-column: 2 / 4;
  margin-left: 7.5em;
  height: 3em;
  align-self: end;
  font-size: 10pt;
 }

 header > nav > ul {
  writing-mode: revert;
  text-orientation: revert;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
 }

 header > nav > ul > li > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 12pt;
 }

 #latest_articles {
  width: auto;
 }

 #latest_articles > ul {
  width: auto;
  margin-left: 1.5em;
  margin-right: 3em;
 }

 #latest_posts {
  padding-top: 2em;
  padding-bottom: 2em;
 }
}

